html {
	margin:0;
	padding:0;
} 

body {
	margin:0;
	padding:0;
}

h1 { color: darkblue; 
	
}

header {
	font-size: 2em;
	background:#FFA;
	padding:.5em;
}

header img {
	width: 2em; height: 2em;
	float: left;
	-webkit-transition: -webkit-transform 0.3s ease-out;
	transition: transform 0.3s ease-out;
}

header img:hover {
	-webkit-transform: rotate(15deg);
	transform: rotate(15deg);
}

header a {
	text-decoration: none;
}

.main{
	text-align: center;
	background: #F80;
	border-radius: 40px;
	margin-top:1em;
}

#title{
	display: block;
	margin: 0 auto;
	margin-top: 1em;
	width: 15em;
	box-shadow: 0 0 48px 24px white;
	background: white;
}

#title img{
	width:auto;
}

#title h1{
	margin-top:0;
}

.menu{
	list-style: none;
	padding:.5em 0 .5em;
}

.menu li{
	display: inline;
	padding: .5em 0 .57em;
	margin-right: -5px;	
}

.menu li:hover{
	background:#FB3;
}

.menu li a{
	padding:1em;
	text-decoration:none;
	color:white;
	padding: 0 1em;
}

.menu li a{
	padding:0 1em;
	text-decoration:none;
	color:white;
	border-left:1px solid black;
}

.menu li:first-child a{
	border:0;
}

#session{
	float:right;
}

.content{
	margin:4em 2em 0;
}




footer {
	text-align:center;
	border-top: 1 solid;
	background-color: #FFA ;
	padding: 1em;
}

footer nav ul { 
	list-style-type: none;
	overflow:hidden;
}

footer nav li {
	float:left;
	padding-left: 1em;
}

footer nav a {
	display:block;
}

table {
 border: 1px solid;
 border-collapse: collapse;
 margin-left: auto;
 margin-right: auto;
 margin-bottom: 2em; 
}

td { border-top: 1px solid ; 
 padding: 0.5em;
}