@(observations: List[Observation], countries: List[Country], indicators: List[Indicator])


@import play.i18n._

<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
             
                <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style.css")' >
      
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
    <div class="breadcrumbs">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        
      </div>
     </header>
         <div class="header">
<h1 align="center">ObservaTerra</h1></a>
     </div>  
<div class="middle">
<p align="center">
<a href="/"><img src="@routes.Assets.at("images/administrador.jpg")" alt="AdminLogo" align="center" /></p>

<h1>List of users</h1>
<br>
<table>
<tr>	 
	<th>@Messages.get("User")</th>
	<th>Activated</th>
	<th>Activate</th>
</tr>
	<tr>
		<td>User 1</td>
		<td>True</td>
		<td><button type="button">Activate</button></td>
	</tr>
	<tr>
		<td>User 2</td>
		<td>False</td>
		<td><button type="button">Activate</button></td>
	</tr> 
</table>
</div>

    <nav>
    <div class="right">
     <button type="button" align="right">@Messages.get("signout")</button>


	</div>
    </nav>
    
     <footer>
    </footer>
    </body>
  </html>
