@(observations: List[Observation], countries: List[Country], indicators: List[Indicator])

@import play.i18n._


<h2>Hola soy un consultor</h2>

<p>@Messages.get("signout")</p>

<h3>Logo</h3>

<p>
	<label for="finder">@Messages.get("find"):</label>
	<input type="text" name="finder" id="finder">
</p>

<h2>@Messages.get("list.observations")</h2>
<table>
<tr>	 
<th>@Messages.get("Country")</th>
<th>@Messages.get("Indicator")</th>
<th>@Messages.get("Value")Value</th>
</tr>
@for(observation <- observations) {
	<tr>
		<td>@observation.country.name</td>
		<td>@observation.indicator.name</td>
		<td>@observation.obsValue</td>
	</tr> 
}
</table>

<h2>@Messages.get("list.countries")</h2>
<table>
<tr>	 
<th>@Messages.get("Country")</th>
</tr>
	<tr> <td>Country 1</td> </tr> 
	<tr> <td>Country 2</td> </tr> 
	<tr> <td>Country 3</td> </tr> 
</table>

<h2>@Messages.get("Stadistics")</h2>
<a href="/stadistics">Estadisticas</a>

