@(countries: List[Country], countryForm: Form[Country])

@import play.i18n._
@import helper._

<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
             
                <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style.css")' >
      
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
    <div class="breadcrumbs">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        
      </div>
     </header>
         <div class="header">
<h1 align="center">ObservaTerra</h1></a>
     </div>  
<div class="middle">

<p align="center">
<a href="/"><img src="@routes.Assets.at("images/paises.png")" alt="PaisesLogo" align="center" /></p>

<h1>@Messages.get("countries")</h1>
<table>
@for(country <- countries) { 
  <tr><td>@country.name</td>
      <td>
      <td>@helper.form(routes.Admin.deleteCountry(country.code)) {
               <input type="image" 
                      src="@{routes.Assets.at("images/delete.gif")}" 
                      alt='@{Messages.get("delete.country")}'>
         }
      </td>
  </tr>
}
</table>



</div>
    <nav>
    <div class="right">
    <h1>@{Messages.get("add.country")}</h1>
    <br>
    <FONT SIZE="4">
	@form(action = routes.Admin.newCountry()) {
	
        @inputText(countryForm("code")) 
        @inputText(countryForm("name")) 
        <br>
        <input type="submit" value="@{Messages.get("create")}" font-size="3">
        
    }    
    </p>
   </FONT>
	</div>
    </nav>
     <footer>
    </footer>
    </body>
  </html>

