@(observations: List[Observation], countries: List[Country], indicators: List[Indicator])

@import play.i18n._


<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
             
                <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style.css")' >
      
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
    <div class="breadcrumbs">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        
      </div>
     </header>
         <div class="header">
<h1 align="center">ObservaTerra</h1></a>
     </div>  
<div class="middle">
<p align="center">
<a href="/"><img src="@routes.Assets.at("images/index.jpg")" alt="ConsultorLogo" align="center" /></p>
<h1>Indicator:</h1> 
<br>
   <a href="/login"><FONT SIZE="3">*Iniciar sesion</FONT></a>
   <br>
<a href="/register"><FONT SIZE="3">*Registrarse</FONT></a>
 <br>
<a href="/consultor"><FONT SIZE="3">*A Consultor</FONT></a>
 <br>
<a href="/collaborator"><FONT SIZE="3">*A Collaborator</FONT></a>
 <br>
<a href="/admin"><FONT SIZE="3">*A Administrador</FONT></a>
 <br>
  <h1><FONT SIZE="3">Aqui encontraras casi nada si no te registras</FONT></h1>

<br>
<br>
</div>
    <nav>
    <div class="right">
	</div>
    </nav>
    
     <footer>
    </footer>
    </body>
  </html>

