@(indicators: List[Indicator], form: Form[Indicator])

@import play.i18n._

<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
             
                <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style.css")' >
      
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
    <div class="breadcrumbs">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        
      </div>
     </header>
         <div class="header">
<h1 align="center">ObservaTerra</h1></a>
     </div>  
<div class="middle">
    <a href="/"><img src="@routes.Assets.at("images/indicadores.jpg")" alt="IndicadoresLogo" align="center" /></p>
<p align="center">
<h1>@Messages.get("indicators")</h1>
<table>
@for(ind <- indicators) { 
  <tr><td>@ind.name</td>
      <td>
      <td>@helper.form(routes.Admin.deleteCountry(ind.code)) {
               <input type="image" 
                      src="@{routes.Assets.at("images/delete.gif")}" 
                      alt='@{Messages.get("delete.indicator")}'>
         }
      </td>
  </tr>
   
}
</table>
</div>
    <nav>
    <div class="right">
<h1>@{Messages.get("add.indicator")}</h1>
    
	@helper.form(action = routes.Admin.newIndicator()) {
	
	    @helper.inputText(form("code")) 
	    @helper.inputText(form("name")) 
        
        <input type="submit" value="@{Messages.get("create")}">
        
    }    
    </div>
    </nav>
     <footer>
    </footer>
    </body>
  </html>
