@(form: Form[Application.Login])

@import play.i18n._

<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <header>
        </header>
    @helper.form(routes.Application.authenticate) {
   <h1>@Messages.get("signin")</h1>

   <p>
   	<label for="username">@Messages.get("username")</label>
       <input type="text" name="username" value="@form("username").value">
   </p>
   <p>
      	<label for="password">@Messages.get("password")</label>
       <input type="password" name="password" >
   </p>
   <p>
       <button type="submit">Login</button>
   </p>
}
    </body>
</html>