
@(title: String)(content: Html)

@import play.i18n._
@import controllers.Login
@import helper._
<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>

    <div id="title">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        <h1>ObservaTerra</h1></a>
    </div>
     </header>
     <nav class="main">
    <ul class="menu">
    
    <li><a href="/">@Messages.get("home")</a></li>
    <li><a href="@routes.Application.showCountries">@Messages.get("countries")</a>
	<li><a href="@routes.Application.showIndicators">@Messages.get("indicators")</a>
	<li><a href="@routes.Application.showObservations">@Messages.get("observations")</a>
    <li><a href="/about">@Messages.get("about")</a></li>
	</ul>
    </nav>
    
    <div>
   		@helper.form(routes.Application.changeLanguage){
   
			<label>@Messages.get("elegir"):</label>
				<select onchange="this.form.submit()" name="language" >	
					<option value="es" @(if(Languaje.language().equals("es")) "selected" else "")>@Messages.get("spanish")</option>
					<option value="en" @(if(Languaje.language().equals("en")) "selected" else "")>@Messages.get("english")</option>
				</select>
	}</div>
							
    <div id="session" class="session">
    
     @if(session().get("id")==null){
			<a href="/login">@Messages.get("signin")</a>
			<a href="/register">@Messages.get("register")</a>
		} else{
		
			<p>@Messages.get("Wellcome") </p>
			<p>@{session().get("id")}</p>
			<a href="/logout">@Messages.get("logout")</a>
			<a href=/url>@Messages.get("escanear")</a>
			<a href="/actualizarPaginas ">@Messages.get("actualizar")</a>
			
			@if(session().get("type")=="admin"){
			 	<a href="/admin ">Administrar</a>
			}
		}
	</div>
     <h1>@title</h1>   
     <div class="content"> 
     @content
	</div>
	
    <footer>
    <p>@Messages.get("reserva")</p>
    </footer>
    </body>
</html>
