@(title: String)(content: Html)

@import play.i18n._
@import controllers.Login

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")"
        <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
    	<div id="title">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        <h1>ObservaTerra</h1></a>
        </div>
     </header>
     <nav class="main">
    <ul class="menu">
    
    <li><a href="/">Home</a></li>
    <li><a href="@routes.Application.showCountries">Countries</a></li>
	<li><a href="@routes.Application.showIndicators">Indicators</a></li>
	<li><a href="@routes.Application.showObservations">Observations</a></li>
    <li><a href="/about">About</a></li>
	</ul>
    </nav>
    <div id="session" class="session">
     @if(session().get("id")==null){
			<a href="/login">Iniciar sesion</a>
			<a href="/register">Registrarse</a>
		} else{
			<p>Bienvenido @{session().get("id")}</p>
			<a href="/logout">Log out</a>
			<a href=/url>Escanear pagina</a>
			<a href="/actualizarPaginas ">Actualizar datos</a>
			<a href="/subirArchivo ">Subir archivos</a>
			<a href="/mostrarArchivos ">Mostrar archivos</a>
			
			@if(session().get("type")=="admin"){
			 	<a href="/admin ">Administrar</a>
			}
		}
	</div>
     <h1>@title</h1>   
     <div class="content"> 
     @content
	</div>
    <footer>
    <p>All rights reserved</p>
    </footer>
    </body>
</html>
