@(observations: List[Observation], 
  countries: List[Country], 
  indicators: List[Indicator],
  form: Form[Observation])

@import play.i18n._
@import helper.twitterBootstrap._

<!DOCTYPE html>
<html>
    <head>
         <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
         <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bars.css")' >
             
                <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/style.css")' >
      
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    </head>
    <body>
    <header>
    <div class="breadcrumbs">
        <a href="/"><img src="@routes.Assets.at("images/observaTerra.png")" alt="ObservaTerraLogo" />
        
      </div>
     </header>
         <div class="header">
<h1 align="center">ObservaTerra</h1></a>
     </div>  
<div class="middle">
    <a href="/"><img src="@routes.Assets.at("images/observaciones.jpg")" alt="ObservacionesLogo" align="center" /></p>
<p align="center">
<h1>@Messages.get("observations")</h1>
<br>
<table>
<tr>
<th>Id</th>
<th>Country</th>
<th>Indicator</th>
<th>Value</th>
<th>Remove</th>
</tr>
@for(obs <- observations) { 
  <tr>
  <td>@obs.id</td>
  <td>@obs.country.name</td>
  <td>@obs.indicator.name</td>
  <td>@obs.obsValue</td>
  <td>@helper.form(routes.Admin.deleteObservation(obs.id)) {
               <input type="image" 
                      src="@{routes.Assets.at("images/delete.gif")}" 
                      alt='@{Messages.get("delete.observation")}'>
         }
   </td>
  </tr>
   
}
</table>


</div>
    <nav>
    <div class="right">

<h1>@{Messages.get("add.observation")}</h1>
    <br>
    <br>
	@helper.form(action = routes.Admin.newObservation()) {
	
        @helper.inputText(form("value"))

         <select name="countryId">
         @for( country <- countries) {
         	<option value="@country.code">@country.name</option>
         }
        </select>
        
        <select name="indicatorId">
         @for( indicator <- indicators) {
         	<option value="@indicator.code">@indicator.name</option>
         }
        </select> 

        <input type="submit" value="@{Messages.get("create")}">
        
    }    
    <br>
    <br>
<h1>@Messages.get("upload.excel.file")</h1>
<br>
    <br>
@helper.form(action = routes.API.uploadExcel, 
	  'enctype -> "multipart/form-data") {
    
    <input type="file" name="excel">
    <br>
    <br>
    <p>
        <input type="submit">
    </p>
   
    
}
	</div>
    </nav>
     <footer>
    </footer>
    </body>
  </html>
