@(observations: List[Observation], countries: List[Country], indicators: List[Indicator])

@import play.i18n._

<h1>@Messages.get("Stadistics")</h1>

<h2>Indicator:</h2> 
<select>
  <option value="criminality">Criminality</option>
  <option value="wealth">Wealth</option>
  <option value="extension">Extension</option>
</select>

<h2>Areas</h2>
<select>
  <option value="country1">Country 1</option>
  <option value="country2">Country 2</option>
  <option value="area3">Area 3</option>
</select> <button type="button">Add Area</button>

<h3>List of selected areas</h3>
<table>
	<tr>	 
		<th>@Messages.get("Country")</th>
</tr>
	<tr> <td>Country 1</td> </tr> 
	<tr> <td>Country 2</td> </tr>
	<tr> <td>Area 3</td> </tr>
</table>


<button type="button">Find</button>

<h2>Bars graphic</h2>
<table>
	<tr>	 
		<th>@Messages.get("Country")</th>
		<th>@Messages.get("Indicator")</th>
</tr>
	<tr> 
		<td>Country 1</td>
		<td>20</td> 
	</tr> 
	<tr> 
		<td>Country 1</td>
		<td>50</td> 
	</tr>
</table>

<h3>Download this information</h3>
<button type="button">Download</button>



